name: test

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v6

      - name: Set up Node environment
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Set up Python environment
        uses: ./.github/actions/setup-poetry-env
        with:
          poetry-options: --only=check
          python-version: "3.13"
          working-directory: backend

      - name: Run check target
        run: make check
